{% extends "AppBundle:Layouts:layouts.html.twig" %} {#heredo esta vista con sus blokes#}

{% block javascripts %}
{{ parent() }}{#me carga este javascrip junto con los q ya habia es para q no me saqe los anteriores javascrip con el extends q estoy haciendo ahi arriba#}
    <script src="{{ asset('assets/js/custom/nick-test.js') }}"></script>
{% endblock %}

{% block content %}

<div class="col-lg-8 box-form">
<h2>registrarse</h2>
<hr/>

 {{ form_start(form, {'action':'','method':'POST'}) }}{#imprimo el formulario y le paso la variable form q es la q llega del controlador#}
    {{ form_errors(form) }}{#esto me tira los erores del form echo propio por twig#}
  
    {{ form_end(form) }} {#cierro el formulario#}

</div>
{% endblock %}